/* ------------------------------------------------------------*/
/* Buttons */

/* default button setting */
.button {
  border-radius: 40px;
  font-family: "manrope";
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#nav-button {
  width: 159px;
  height: 47px;
  font-weight: 600;
  color: #212121;
  font-size: 18px;
}

#nav-button:hover {
  background-color: #dddfd0;
}

#explore-button {
  width: 190px;
  height: 60px;
  background-color: white;
  color: #212121;
  margin-right: 1rem;
}

#explore-button:hover {
  background-color: #dddfd0;
}

#book-button {
  width: 190px;
  height: 60px;
  background: none;
  border: #dddfd0 1px solid;
  color: #dddfd0;
}

@media (max-width: 435px) {
  #explore-button {
    margin-bottom: 1rem;
  }
}

/* a la carte filter buttons */
.filter-button {
  padding: 0.5rem 1.5rem;
  background-color: white;
  margin: 5px;
  font-size: 15px;
  color: #404c3f;
}

.filter-button:hover {
  background-color: #404c3f;
  color: #f1ebe5;
}

.active {
  background-color: #404c3f37;
  color: #404c3f;
}

.submit-button {
  width: 190px;
  height: 60px;
  background: none;
  border: #f1ebe5 1px solid;
  color: #f1ebe5;
}

.submit-button:hover {
  color: #5e655c;
  background-color: #f1ebe5;
}

.book-now-btn {
  background-color: #f1ebe5;
  color: #5e655c;
}

.book-now-btn:hover {
  background-color: #5e655c;
  color: #f1ebe5;
}
@media (max-width: 500px) {
  .book-now-btn {
    font-size: 15px;
    width: 140px;
    height: 40px;
  }
  #nav-button {
    font-size: 15px;
    width: 140px;
    height: 40px;
  }
}
