/* text setting */

h1 {
  font-family: "libre Baskerville";
  font-size: 96px;
  line-height: 100%;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -3%;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 75px;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 55px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 15px;
  }
}

h2 {
  font-family: "Manrope";
  font-size: 64px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -3%;
  color: #5e655c;
}

h2.italic {
  font-family: "libre Baskerville";
  font-style: italic;
  color: #5e655c;
}

h2.light {
  color: #f1ebe5;
}

h3 {
  font-family: "manrope";
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -3%;
}

@media (max-width: 620px) {
  h3 {
    font-size: 25px;
  }
}

h3.italic {
  font-family: "libre Baskerville";
  font-style: italic;
  font-size: 36px;
  color: #5e655c;
}

h4 {
  font-family: "manrope";
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: -3%;
  color: #5e655c;
}

h4.italic {
  font-family: "libre Baskerville";
  font-style: italic;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -3%;
  color: #5e655c;
}

h5 {
  font-family: "manrope";
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -3%;
  color: #dddfd0;
  opacity: 50%;
}

p {
  font-family: "manrope";
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -3%;
  color: #5e655c;
}

p.italic {
  font-family: "libre Baskerville";
  font-style: italic;
  color: #5e655c;
}

.light {
  color: #f1ebe5;
  opacity: 100%;
}

/* ------------------------------------------------------------*/
/* Hr lines */
hr {
  border: 1px solid #404c3f2b;
}
