* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation links & button */
nav {
  font-family: "manrope";
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2rem;
  align-items: center;
}

.logo img {
  display: block;
}

nav div:first-child {
  margin-right: auto;
}

.nav-links a {
  text-decoration: none;
  color: #dddfd0;
  font-size: 24px;
  margin-right: 5rem;
  font-weight: 500;
}

@media (max-width: 1250px) {
  .nav-links a {
    margin-right: 3rem;
  }
}

@media (max-width: 1100px) {
  .nav-links a {
    margin-right: 2rem;
  }
}

@media (max-width: 1000px) {
  .nav-links,
  #nav-button {
    display: none;
  }
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* hamburger navigation menu */

.hamburger-nav {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .hamburger-nav {
    display: block;
  }
}

.line-1,
.line-2,
.line-3 {
  height: 1px;
  background-color: white;
  width: 40px;
}

.line-1 {
  transform: translateY(10px);
}
.line-2 {
  transform: translateY(20px);
}
.line-3 {
  transform: translateY(30px);
}
/* header */
header {
  background-image: url(./images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.header-text {
  color: #dddfd0;
  margin-top: 20rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

header h1 {
  margin-bottom: 2rem;
}

header h3 {
  margin-bottom: 2.9rem;
  width: clamp(60%, 500px, 100%);
}

.header-buttons {
  margin-left: 2rem;
  padding-bottom: 4rem;
}

/* ------------------------------------------------------------*/
/* ---- Section - Philosophy ---- */
#philosophy-section {
  background-color: #dddfd0;
  height: auto;
  padding: 10rem 2rem 10rem 2rem;
}

.headline {
  margin-bottom: 4rem;
  width: 100%;
}

.headline h4 {
  max-width: 100%;
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container h3 {
  margin-bottom: 2rem;
}

.card-1,
.card-2,
.card-3 {
  background-color: #f1ebe5;
  border-radius: 20px;
  width: 443px;
  height: auto;
  padding: 3rem;
}

/* ------------------------------------------------------------*/
/* ---- Section - á la carte ---- */
#menu-section {
  background-color: #f1ebe5;
  height: auto;
}
#menu-section h2 {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  width: 100%;
}

.menu-container hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-container h3 {
  margin-bottom: 3rem;
  text-align: center;
}

.menu-container .starters,
.menu-container .baos,
.menu-container .bahn-mi,
.menu-container .sig-bowls,
.menu-container .desserts,
.menu-container .drinks {
  width: 50%;
  margin-bottom: 3rem;
}

@media (max-width: 1000px) {
  .menu-container .starters,
  .menu-container .baos,
  .menu-container .bahn-mi,
  .menu-container .sig-bowls,
  .menu-container .desserts,
  .menu-container .drinks {
    width: 90%;
    margin-bottom: 3rem;
  }
}

.menu-container .menu-item {
  margin-bottom: 2rem;
}

.menu-container .dish {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------------------------*/
/* --- Buffet section --- */

.buffet-section {
  background-color: #cec4bc;
  padding-bottom: 5rem;
  width: 100%;
}

/* Buffet header */
.buffet-header {
  background-image: url(./images/buffet.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 367px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buffet-header h2.italic {
  color: #f1ebe5;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* lunch buffet flex container */
.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}

/* Flex item 1: buffet info container */
.buffet-container {
  height: auto;
  width: clamp(300px, 100%, 1000px);
  overflow: hidden;
}

.buffet-info {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 5rem;
}
.buffet-info p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buffet-info h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

/* Read more accordion */
.more-info {
}

.more-info h4 {
  margin-top: 2rem;
}

#buffet-list {
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "manrope";
  font-weight: 400;
  font-size: 18px;
  color: #5e655c;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.more-info p {
  width: clamp(300px, 100%, 900px);
  margin-bottom: 3rem;
}

.read-more {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.read-more h4 {
  font-weight: 600;
}

.read-more img {
  position: absolute;
  top: 3px;
  left: 160px;
}

.hidden {
  display: none;
}

/* Flex item 2: buffet deco flower */
#buffet-img-flower {
  width: clamp(150px, 100%, 361px);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
  align-self: flex-start;
}

/* ------------------------------------------------------------*/
/* ---- Story section ---- */

#story-section {
  background-image: url(./images/story.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-story {
  width: 902px;
  height: auto;
  border-radius: 20px;
  background-color: #f1ebe5;
  text-align: center;
  margin: 5.75rem 2rem 5.75rem 2rem;
}

.our-story h2 {
  margin-top: 3.75rem;
}

@media (max-width: 600px) {
  .our-story h2 {
    font-size: 45px;
  }
}

.our-story h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.our-story p {
  margin-bottom: 3.75rem;
  padding-left: 5rem;
  padding-right: 3.75rem;
}

/* ------------------------------------------------------------*/
/* Contact */
#contact-section {
  background-color: #404c3f;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 8rem;
  height: auto;
}

/* flex item 1 */
.contact-container {
  margin-top: 8rem;
  width: 45%;
  padding-right: 1rem;
}

.contact-text h2 {
  margin-bottom: 3rem;
}

.contact-text p {
  margin-bottom: 3rem;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.name,
.email {
  width: 100%;
}

input {
  background-color: #404c3f;
  border: none;
  border-bottom: 1px solid #5e655c;

  font-size: 20px;
  font-family: "manrope";
  color: #f1ebe5;

  padding-bottom: 1rem;
  margin-bottom: 3rem;

  width: 100%;
}

input::placeholder {
  color: #f1ebe5;
  font-size: 20px;
  margin: none;
}

input:focus {
  outline: none;
  border-color: #f1ebe5;
}

label {
  /* for textarea */
  font-family: "manrope";
  color: #f1ebe5;
  font-size: 20px;
  font-size: 20px;
}

.message {
  width: 100%;
}

textarea {
  width: 100%;
  background-color: #404c3f;
  border: none;
  border-bottom: 1px solid #5e655c;
  font-size: 20px;
  font-family: "manrope";
  color: #f1ebe5;
  resize: none;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

textarea:focus {
  outline: none;
  border-color: #f1ebe5;
}

/* flex item 2 */
.img-container {
  width: 45%;
  margin-top: 8rem;
  background-image: url(./images/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

@media (max-width: 900px) {
  #contact-section {
    flex-direction: column;
    justify-content: center;
  }

  /* flex item 1 */
  .contact-container {
    width: 100%;
  }

  .form-container {
    width: 60%;
  }

  /* flex item 2 */
  .img-container {
    width: 100%;
    height: 500px;
    background-image: url(./images/contact.png);
    justify-items: center;
  }
}

/* ------------------------------------------------------------*/
/* Footer */

footer {
  background-image: url(./images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 2rem;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
}

footer a {
  color: #dddfd0;
  text-decoration: none;
}

.footer-logo-container img {
  width: 100%;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav div {
  margin: 1rem;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
}
.social-icons2 {
  display: none;
}

.social-icons img {
  margin-right: 1rem;
  cursor: pointer;
  width: 2.5rem;
  align-self: flex-start;
}
@media (max-width: 900px) {
  .social-icons {
    display: none;
  }

  .social-icons2 {
    display: block;
    justify-self: center;
    margin-top: 3rem;
  }

  .social-icons2 img {
    margin: 1rem;
    cursor: pointer;
    width: 2.5rem;
  }
}

@media (max-width: 836px) {
  .footer-nav {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .footer-nav {
    flex-direction: column-reverse;
  }
}

/* ------------------------------------------------------------*/
/* Buttons */

/* default button setting */
.button {
  border-radius: 40px;
  font-family: "manrope";
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#nav-button {
  width: 159px;
  height: 47px;
  font-weight: 600;
  color: #212121;
  font-size: 18px;
}

#nav-button:hover {
  background-color: #dddfd0;
}

#explore-button {
  width: 190px;
  height: 60px;
  background-color: white;
  color: #212121;
  margin-right: 1rem;
}

#explore-button:hover {
  background-color: #dddfd0;
}

@media (max-width: 435px) {
  #explore-button {
    margin-bottom: 1rem;
  }
}

#book-button {
  width: 190px;
  height: 60px;
  background: none;
  border: #dddfd0 1px solid;
  color: #dddfd0;
}

/* a la carte filter buttons */
#small,
#bao-buns,
#bahn-mi,
#bowls,
#desserts,
#drinks {
  padding: 1rem 2rem 1rem 2rem;
  background-color: white;
  margin: 5px;
}

@media (max-width: 600px) {
  #small,
  #bao-buns,
  #bahn-mi,
  #bowls,
  #desserts,
  #drinks {
    font-size: 15px;
  }
}

.submit-button {
  width: 190px;
  height: 60px;
  background: none;
  border: #f1ebe5 1px solid;
  color: #f1ebe5;
}

.submit-button:hover {
  color: #5e655c;
  background-color: #f1ebe5;
}
